@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #8539dc;
  --color-white: #FFF;
  --trans: 0.5s;
}

::selection {
  background-color: var(--main-color);
  color: var(--color-white);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
}

::-webkit-scrollbar-track {
  background-color: var(--main-color);
}

.load-parent {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--trans);
}

.load-parent.hide {
  animation: hide 2s linear forwards;
}

@keyframes hide {
  from {
    opacity: 1;
    pointer-events: none;
  }

  to {
    opacity: 0;
    pointer-events: none;
  }
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem var(--main-color));
}

.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem var(--main-color);
  animation-name: pulsIn;
}

.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 var(--main-color);
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem var(--main-color);
    opacity: 1;
  }

  50%,
  100% {
    box-shadow: inset 0 0 0 0 #fff;
    opacity: 0;
  }
}

@keyframes pulsOut {

  0%,
  50% {
    box-shadow: 0 0 0 0 #FFF;
    opacity: 0;
  }

  100% {
    box-shadow: 0 0 0 1rem var(--main-color);
    opacity: 1;
  }
}

.section {
  overflow: hidden !important;
}

.slide img {
  width: 100%;
}

.fp-arrow.fp-prev {
  border-width: 12px 12px 12px 0;
  left: 45px;
  z-index: 2000;
  border-color: transparent var(--main-color) transparent transparent;
  display: none;
}

@media(max-width:767px) {
  .fp-arrow.fp-prev {
    left: 20px;
  }
}

.fp-arrow.fp-next {
  border-width: 12px 0 12px 12px;
  border-color: transparent transparent transparent var(--main-color);
  right: 45px;
  display: none;
  z-index: 2000;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  width: 15px;
  height: 15px;
}



body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
}


#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: var(--main-color);
  border: 2px solid #FFF;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active+.fp-tooltip {
  font-size: 15px;
  font-variant: small-caps;
  letter-spacing: 1px;
  top: -3px;
}

.fp-table {
  display: block;
}

.fp-warning,
.fp-watermark a {
  display: none;
}

/* Start Landing */

.landing {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("../image/landing.jpg");
  background-size: cover;
  background-position: center;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.text h2 {
  font-weight: bold;
  color: var(--color-white);
  font-size: 40px;
  letter-spacing: 1px;
}

.text h2 .name {
  color: var(--main-color);
  font-variant: small-caps;
}

@media (min-width:0px) and (max-width:767px) {
  .text h2 {
    font-size: 30px;
  }
}

.edition {
  color: #fff3;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 26px;
}

.inf {
  font-size: 26px;
  color: transparent;
  -webkit-text-stroke: 1px var(--color-white);
}

/* End Landing */

/* Start main-title */

.main-title h2 {
  position: relative;
  color: #FFF;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  width: fit-content;
  padding-bottom: 10px;
}

.main-title h2 span {
  color: var(--main-color);
}

.main-title h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
}

.main-title h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFF;
  width: 50%;
  height: 2px;
}

/* end main-title */

.main-btn {
  padding: 15px;
  display: block;
  background-color: var(--main-color);
  text-decoration: none;
  width: 185px;
  border-radius: 30px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  opacity: 0.7;
  transition: var(--trans);
  margin: 20px auto;
}

@media(max-width:767px) {
  .main-btn {
    display: none;
  }
}

.main-btn:hover {
  opacity: 1;
}

.main-btn i {
  color: #FFF;
  font-size: 18px;
}

.main-btn small {
  color: var(--color-white);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Start About */
.about .image {
  padding: 10px;
  border-radius: 4px;
  background-color: var(--color-white);
  height: 500px;
}

@media(max-width:767px) {
  .about .image {
    width: 350px;
    height: 350px;
    margin: 0 auto;
  }
}

@media (min-width:768px) and (max-width:992px) {
  .about .image {
    width: 400px;
    height: 400px;
    margin: 0 auto;
  }
}

.about .image img {
  width: 100%;
  border-radius: 4px;
  height: 100%;
}


.about .info-top h2 {
  font-weight: bold;
  color: var(--color-white);
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.about .info-top h2 span {
  color: var(--main-color);
  font-size: 30px;
  font-variant: small-caps;
  text-transform: capitalize;
}

.about .info-top span {
  font-weight: bold;
  color: #fff3;
  font-size: 26px;
  font-variant: small-caps;
}

.about .info-top p {
  font-size: 14px;
  line-height: 1.8;
  color: var(--color-white);
  margin: 15px 0 30px;
  text-transform: capitalize;
}

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

@media(max-width:992px) {
  .date {
    flex-direction: column;
    gap: 35px;
  }
}

.date .left,
.right {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

@media(max-width:992px) {

  .date .left,
  .right {
    width: 75%;
  }
}

.date .left div,
.right div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date .left div span,
.right div span {
  color: #FFF;
  text-transform: capitalize;
  font-size: 15px;
}

.date .left div span:first-child,
.date .right div span:first-child {
  color: var(--main-color);
  position: relative;
  flex-basis: 33%;

}

.date .left div span:first-child::before,
.date .right div span:first-child::before {
  content: "";
  position: absolute;
  right: -20px;
  top: 3px;
  width: 2px;
  height: 100%;
  background-color: #CCC;
}

@media(max-width:767px) {

  .date .left div span:first-child::before,
  .date .right div span:first-child::before {
    right: -50px;
  }
}

@media(min-width:768px) and (max-width:992px) {

  .date .left div span:first-child::before,
  .date .right div span:first-child::before {
    right: -85px;
  }
}

@media(max-width:992px) {
  .info-top {
    margin-top: 30px;
  }
}

/* End About */


/* Start skills */
.skills .progressbars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.skills .progressbars .progs {
  flex-basis: 28%;
}

@media(max-width:992px) {
  .skills .progressbars .progs {
    flex-basis: 46%;
  }
}

.skills .progressbars .progs h2 {
  font-weight: 500;
  color: #d5d5d5;
  font-size: 23px;
  font-variant: small-caps;
  margin: 20px auto;
  text-align: center;
}

.skills .theprogess {
  width: 130px;
  height: 130px;
  background-color: #DDD;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
}

.skills .theprogess .linear {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.skills .progs:first-child .theprogess .linear {
  background: conic-gradient(var(--main-color) 332deg, #DDD 0deg);
}

.skills .progs:nth-child(2) .theprogess .linear {
  background: conic-gradient(var(--main-color) 302deg, #DDD 0deg);
}

.skills .progs:nth-child(3) .theprogess .linear {
  background: conic-gradient(var(--main-color) 276deg, #DDD 0deg);
}

.skills .progs:nth-child(4) .theprogess .linear {
  background: conic-gradient(var(--main-color) 300deg, #DDD 0deg);
}

.skills .progs:nth-child(5) .theprogess .linear {
  background: conic-gradient(var(--main-color) 276deg, #DDD 0deg);
}

.skills .progs:nth-child(6) .theprogess .linear {
  background: conic-gradient(var(--main-color) 276deg, #DDD 0deg);
}


.skills .theprogess .value {
  width: 90%;
  height: 90%;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-weight: bold;
  position: relative;
}

.skills .image {
  position: relative;
  height: 500px;
}

.skills .image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  flex-shrink: 0;
  height: 100%;
  object-fit: contain;
}


.skills .become h2 {
  color: #FFF;
  font-size: 30px;
  margin-bottom: 20px;
}

.skills .become h2 span {
  color: var(--main-color);
}

.skills .become .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.skills .become .icons img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: var(--trans);
}

.skills .become .icons img:hover {
  transform: translateY(-5px);
}

/* End skills */


/* start services */
.services-section {
  position: relative;
}

.services-section .img-over {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 170px;
  opacity: 0.2;
  z-index: -1;
}

.services .box {
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.services .box .icon {
  margin-bottom: 10px;
}

.services .box .icon i {
  font-size: 40px;
  color: var(--main-color);
}

.services .box .text-content h2 {
  font-weight: bold;
  color: #FFFF;
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 5px;
}

.services .box .text-content p {
  font-size: 15px;
  color: #fff3;
  line-height: 1.8;
  margin-bottom: 0;
}

/* End services */


/* start work */
.work .myList {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.work .myList li {
  list-style: none;
  border: 1px solid #FFF;
  color: #FFF;
  width: 90px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  transition: var(--trans);
}

.work .myList li:hover,
.work .myList li.active {
  background-color: var(--main-color);
}


.work .box {
  margin-bottom: 15px;
  transition: var(--trans);
}

.work-srv {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.work .box img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 4px;
  transition: var(--trans);
}

.work .box img:hover {
  filter: brightness(106%);
  transform: translateY(-5px);
}

/* End work */

/* start lightbox */
.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #00000073;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  transition: var(--trans);
}

.lightbox.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

.lightbox .thebox {
  width: 400px;
  height: 400px;
  background-color: #ffffff3d;
  padding: 15px;
  border-radius: 4px;
  position: relative;
}

@media(max-width:767px) {
  .lightbox .thebox {
    width: 300px;
    height: 300px;
  }
}

.lightbox .thebox i {
  position: absolute;
  right: -27px;
  width: 45px;
  height: 45px;
  background-color: #f05;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: #FFF;
  font-size: 15px;
  top: -35px;
  opacity: 0.8;
  transition: var(--trans);
  z-index: 3;
  cursor: pointer;
}

.lightbox .thebox i:hover {
  opacity: 1;
}

.lightbox .thebox img {
  width: 100%;
  border-radius: 4px;
  height: 100%;
}

/* End */

/* Start Slide */
.slide .box {
  position: relative;
  height: 100vh;
}

.slide .box::before {
  content: '';
}

.slide .box img {
  height: 100%;
  object-fit: cover;
}

.slide .box .text-slide.left-text,
.slide .box .text-slide.right-text {
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #00000099;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide .box .text-slide.left-text {
  left: 0;
}

.slide .box .text-slide.right-text {
  right: 0;
}

.slide .box .text-slide h2 {
  font-weight: bold;
  color: transparent;
  font-size: 50px;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--main-color);
}

@media(max-width:767px) {
  .slide .box .text-slide h2 {
    font-size: 27px;
  }
}

.slide .box .text-slide p {
  margin-bottom: 0;
  color: #d5d5d5;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-shadow: 0 0.3rem 0.9rem rgba(0, 0, 0, .4);
}


/* End Slide */


/* Start Testimonials */

.testimonials .box {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.testimonials .image {
  margin-bottom: 15px;
}

.testimonials .box .image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonials .stars {
  color: var(--main-color);
  font-weight: bold;
  position: relative;
  font-size: 30px;
}

.testmonials-text .quote {
  position: absolute;
  bottom: 5px;
  right: 20px;
  font-size: 27px;
  color: var(--main-color);
}

.testimonials .stars i {
  font-size: 24px;
  color: var(--bs-warning);
}

.testimonials .box .testmonials-text h2 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0;
}

.testimonials .box .testmonials-text p {
  margin-bottom: 0;
  color: #d5d5d5;
  font-size: 15px;
  max-width: 350px;
  line-height: 1.8;
  font-weight: 500;
  text-transform: capitalize;
}

@media(max-width:992px) {
  .fact .fac {
    margin-bottom: 15px;
  }
}

.fact .fac i {
  font-size: 50px;
  color: var(--main-color);
  margin-bottom: 10px;
}

.fact .fac .fac-text h2 {
  color: var(--color-white);
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.fact .fac-text span {
  font-size: 35px;
  font-weight: bold;
  color: #fff3;
}

/* End Testimonials */

/* Owl */
.owl-nav {
  position: absolute;
  top: -30px;
  right: 0;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  color: #FFF;
  flex-basis: 48%;
  font-size: 23px;
  transition: var(--trans);
  opacity: 0.7;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel button.owl-dot:hover {
  opacity: 1;
}

.owl-carousel .owl-nav button.owl-next {
  background-color: var(--main-color);
}

.owl-carousel .owl-nav button.owl-prev {
  background-color: #6C757D;
}


/* Blur */
.onblur-right,
.onblur-left {
  position: absolute;
  width: 300px;
  height: 300px;
  background: var(--main-color);
  z-index: -1;
  border-radius: 50%;
  filter: blur(250px);
}

.onblur-right {
  left: -150px;
  bottom: 0;
}

.onblur-left {
  right: -150px;
  top: 0;
}


/* Setting box */
.setting-box {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.83);
  padding: 20px;
  transition: var(--trans);
}

.setting-box.show {
  left: 0;
}

.setting-box .icon {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: rgba(0, 0, 0, 0.83);
  border-left: 2px solid var(--main-color);
  color: var(--color-white);
}

.setting-box .icon i {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.setting-box .option-box {
  background-color: rgba(255, 255, 255, 0.1803921569);
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 20px;
}

.setting-box .option-box h2 {
  font-weight: bold;
  color: var(--main-color);
  font-size: 25px;
  font-variant: small-caps;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.setting-box .option-box .list-color {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.setting-box .option-box .list-color li {
  list-style: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7;
}

.setting-box .option-box .list-color li.active {
  opacity: 1;
  border: 2px solid var(--color-white);
}

.setting-box .option-box .list-color li:first-child {
  background-color: #8539dc;
}

.setting-box .option-box .list-color li:nth-child(2) {
  background-color: #2196f3;
}

.setting-box .option-box .list-color li:nth-child(3) {
  background-color: #009688;
}

.setting-box .option-box .list-color li:nth-child(4) {
  background-color: #e91e63;
}

.setting-box .option-box .list-color li:nth-child(5) {
  background-color: #ff5722;
}

.setting-box .option {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.setting-box .option .theName {
  display: block;
  color: #FFF;
  font-weight: bold;
  font-size: 15px;
}

.setting-box .option i {
  color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
  transition: var(--trans);
}

.setting-box .option.roteded i {
  transform: rotate(-180deg);
}

.option-box .fonts {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 6px;
  border-radius: 4px;
  display: none;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  transition: var(--trans);
}

.option-box .fonts.show {
  display: block;
  transform: scale(1);
  opacity: 1;
  pointer-events: all;
}



.option-box .fonts span {
  display: block;
  color: #d5d5d5;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  padding: 7px;
  transition: var(--trans);
}

.option-box .fonts span:hover {
  background-color: #cccccc1c;
}

.contact h2 {
  color: #d5d5d5;
  font-size: 25px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.contact .social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact .social a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  opacity: 0.7;
  text-decoration: none;
  transition: var(--trans);
}

.contact .social a:hover {
  opacity: 1;
  transform: translateY(-5px);
}

.contact .social a.facebook {
  background-color: #1877f2;
}

.contact .social a.twitter {
  background-color: #1da1f2;
}

.contact .social a.linkedin {
  background-color: #23527c;
}

.contact .social a.whatsapp {
  background-color: #2ab318;
}


.author {
  position: fixed;
  bottom: 10px;
  right: 14px;
  writing-mode: vertical-lr;
  z-index: 555;
  width: fit-content;
  background-color: var(--main-color);
  padding: 5px;
  color: #FFF;
  font-weight: 500;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  border-radius: 30px;
  user-select: none;
  opacity: 0.6;
  height: 190px;
  transition: var(--trans);
}

.author:hover{
  opacity: 1;
}
